/* CSS BY ZAC WEBB */

/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */

body{
    font-family: 'Playfair Display', sans-serif;
}

header{
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 50px 0 40px;
    color: var(--soft-white);
}

header h1{
    font-size: 5em;
    font-weight: 800;
    padding: 10px 0 50px;
}

header p{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
}

nav{
    background-color: var(--champagne-gold);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
}

nav a{
    color: var(--midnight-blue);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

main, .nav-container, .footer-container{
    width: 88vw;
    max-width: 1200px;
    margin: auto;
}

.info{
    padding-bottom: 30px;
}

h2{
    color: var(--midnight-blue);
    font-size: 2.5rem;
    font-weight: 500;  
    padding: 30px 0 10px;
}

.info p{
    color: var(--dark-charcoal);
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.offerings h2{
    margin-bottom: 15px;
    border-top: 2px solid var(--champagne-gold);
}

.box{
    color: var(--soft-white);
    background-color: var(--olive-green);
    padding: 25px 20px;
    border-radius: 8px;
    line-height: 1.5rem;
    box-shadow: 0 1px 4px var(--dark-charcoal);
}

.box h3{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 15px;
    line-height: 2.3rem;
}

.boxes{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--champagne-gold);
}

.boxes ul{
    list-style-type: disc;
    list-style-position: inside;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--dark-charcoal);
}

.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p{
    padding: 15px 0;
    font-size: 1.12rem;
    text-align: center;
    font-style: italic;
    color: var(--dark-charcoal);
    font-weight: 500;
}

#gallery-btn{
    text-decoration: none;
    background-color: var(--olive-green);
    color: var(--soft-white);
    margin: 30px 0;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#line{
    border: 1px solid var(--champagne-gold);
    margin-bottom: 40px;
}

footer{
    background-color: var(--midnight-blue);
    text-align: center;
    color: var(--soft-white);
}

#contact{
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
}

#contact a, #social a{
    text-decoration: none;
    color: var(--champagne-gold);
    font-weight: 700;
    font-size: 1.25rem;
}

#social{
    padding-bottom: 20px;
}


/* MEDIA QUERY (medium) */

@media(min-width: 600px){
    .boxes{
        grid-template-columns: 1fr 1fr;
    }

    .monthly{
        grid-column: 1/-1;
    }

    #gallery{
        grid-template-columns: 1fr 1fr;
    }
}

/* MEDIA QUERY (large) */

@media(min-width: 900px){
    #gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* MEDIA QUERY (xl) */

@media(min-width: 1200px){
    #gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

